body {
  font-family: Arial, sans-serif;
  background-color: #1f1f1f;
  color: white;
  margin: 0;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: auto;
}

h1 {
  font-size: 24px;
  color: #FC494A;
}

.question {
  margin-bottom: 20px;
}

button {
  background-color: #FC494A;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #E5494A;
}

#result-container {
  margin-top: 20px;
  display: none;
}

#result {
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;
}

#result-image {
  width: 400px;
  height: auto;
  margin-top: 20px;
}

#compass-container {
  margin-top: 40px;
}

canvas {
  border: 1px solid white;
}
