body {
  font-family: Arial, sans-serif;
  background-color: #1f1f1f;
  color: white;
  margin: 0;
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

#logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: auto;
}

h1 {
  font-size: 24px;
  color: #FC494A;
}

.question {
  margin-bottom: 20px;
}

button {
  background-color: #FC494A;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #E5494A;
}

#result-container {
  margin-top: 20px;
  display: none;
}

#compass-container {
display: none;
}

#result {
  font-weight: bold;
  margin-top: 20px;
  font-size: 24px;
}

#result-image {
  width: 800px;
  height: auto;
  margin-top: 20px;
}

canvas {
  border: 1px solid white;
  background-color: #8f8f8f !important;
}

  #parent-container {
    display: flex;
    justify-content: space-around; /* Adjust spacing between items */
    align-items: center; /* Align items vertically */
  }

  #result-container, #compass-container {
    flex: 1; /* Allows both containers to grow and take up equal space */
    margin: 10px;
  }

  img {
    max-width: 100%; /* Ensures the image doesn't overflow the container */
    height: auto;
  }
#footer-link {
    color: inherit; /* Inherit the current text color */
    text-decoration: none; /* Remove underline */
    font-size: 1.5em; /* Increase text size */
    display: inline-flex; /* Align text and image inline */
    align-items: center; /* Vertically align the image */
}

#footer-link:hover {
    text-decoration: underline; /* Optional: underline on hover */
}

#book-icon {
    width: 24px; /* Adjust size of the SVG icon */
    height: 24px;
    margin-left: 8px; /* Add space between text and icon */
}

footer {
    margin-top: 50px; /* Add margin of 10 pixels above the footer area */
}

#main-title {
    font-size: 2.5em; /* Matches the size of the bottom link text */
    font-weight: bold; /* Optional: make the title bold */
}

/* Style the introductory text with font size 24px */
#introText {
    font-size: 24px;
}

label {
font-size: 18px; /* Adjust the font size to your preference */
}